ul.chat_members  {
float:left;
}
ul.chat_members li {
  float:left;
  list-style: inside none;
}

.chat {
  padding:10px;
  margin-bottom:10px;
  background-color:#f4f4f4;
}

.chat h2 {
  border-bottom:double 3px gray;
}
.chat h3 {
  border-bottom:solid 1px gray;
}
